.post {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-weight: 700;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__body {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    background-color: rgba(#fff, 0.6);
    display: flex;
    flex-direction: column;
  }

  &__wrapper {
    flex: 1;
    position: relative;
    z-index: 1;
  }

  &__content {
    width: calc(100% + 8px);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    padding-right: 8px;

    @media (min-width: 768px) {
      &::-webkit-scrollbar-track
      {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 3px;
        background-color: #F5F5F5;
      }

      &::-webkit-scrollbar
      {
        width: 6px;
        background-color: #F5F5F5;
      }

      &::-webkit-scrollbar-thumb
      {
        border-radius: 3px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
      }
    }
  }

  &__info {
    background-color: #EC6724;
    border-radius: 8px;
    padding: 12px 24px;
    color: $white;

    ul {
      list-style: none;
      padding-left: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      color: $white;

      &:hover {
        color: $white;
        text-decoration: underline;
      }
    }
  }

  &__btn {
    display: block;
    width: 100%;
    background-color: #243771;
    text-align: center;
    border-radius: 8px;
    color: $white;
    padding: 6px 8px;
    transition: 0.3s;

    &:hover {
      background-color: darken(#243771, 10%);
      color: $white;
      text-decoration: none;
    }
  }

  @media (max-width: 991px) {
    font-size: 14px;

    &__info {
      padding: 12px 16px;
    }
  }

  @media (max-width: 767px) {
    padding: 16px;
    overflow: auto;

    &__img {
      position: static;
      height: auto;
      margin-bottom: 16px;
    }

    &__body {
      display: block;
      width: 100%;
      height: auto;
      position: relative;
      background: 0;
      padding: 0;
    }

    &__content {
      position: static;
    }
  }
}
